
*{
  box-sizing: border-box;
}
#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body{
  display: flex;
  flex-direction: column;
  background-color: var(--tg-theme-bg-color);

  color: var(--tg-theme-text-color);
}
.tColor {
  color: var(--tg-theme-text-color);
}
.div{
  width: var(--tg-viewport-width);
  margin: 0 auto;
}